:root{
    --background-color: rgb(19, 23, 32);
}

h2{
    margin: 0px;
}

.intro-container{
    display: flex;
}

.intro-text{
    margin-right: auto;
}

.intro-visual{
    border: 1px solid white;
    width: 45%;
    height: 400px;
}

.name{
    margin-left: 50px;
}

main{
    color: white;
}

body{
    height: 100%;
    background-color: var(--background-color);
    font-family: Roboto;
}

.navbar{
    display: flex;
    padding: 10px;
    background-color: var(--background-color);
    color: white;
}

.nav-link-container{
    display: flex;
    margin: 0px;
    margin-left: auto;
    gap: 50px;
    margin-right: 45px;
}

.nav-link-container > li{
    list-style-type: none;
}

.nav-link-container > li > a {
    color: white;
    text-decoration: none;
}

.expertise-panel{
    display: flex;
    gap: 45px;
    border: 1px white solid;
}

.intro-visual{
    position: relative;
}

.vs-icon{
    position: absolute;
    top: 10px;
    left: 20px;
}

.github-icon{
    position: absolute;
    bottom: 45px;
    right: 15px;
}