/* CSS Variables */
:root{
    --background-color: #212121;
    --background-secondary: #181818;
    --primary-purple: #4d2768;
    --secondary-purple: #67308d;
    --accent-green: #724a90;
    --text-light: #916eac;
    --text-muted: #916eac;
    --foreground-color: var(--primary-purple);
}
